<main class="principal">
    <h1 class="typed"></h1>
    <div class="saudacao">
        
        <div class="descricao">
            <div class="janela">
                <div class="bolinha" id="vermelha"></div>
                <div class="bolinha" id="amarela"></div>
                <div class="bolinha" id="verde"></div>
            </div>
            <p>public class <span class="texto-diferente">Programador</span>{{descricaoSaudacao}}</p>
        </div>
    </div>
</main>
<section class="projetos">
    <h1>Projetos</h1>
</section>
