<div class="saudacao">
        <div class="apresentacao">
            <h3>Olá!</h3>
            <p class="descricao">{{descricao}}</p>
        </div>
        <div class="foto">
            <img class="foto-apresentacao" src="/assets/imagens-banco/perfil-social.png">
        </div>
</div>
<section class="cursos">
    <h1>Meus cursos</h1>
    <mat-accordion>
        <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header class="titulo-accordion">
                <div class="titulo">
                    <img src="/assets/imagens-banco/webjava-nobg.png" class="accordion-img">
                    <h3>Java Web</h3>
                </div>
                
            </mat-expansion-panel-header>
            <ul>
                <li class="descricao-accordion"><b>Instituição:</b> Capgemini</li>
                <li class="descricao-accordion"><b>Duração:</b> 1 ano e 6 meses (05/12/2025)</li>
                <li class="descricao-accordion"><b>Status:</b> Concluído</li>
                <li class="descricao-accordion"><b>Descrição:</b> Criação de websites usando as tecnologias HTML, CSS e Javascript, 
                    componentes SPA com Angular, criação, manipulação de banco de dados com SQL, 
                desenvolvimento de aplicações web com Java e vinculo de aplicações usado API do Angular, 
                    desenvolvimento de softwares usando o método Agile</li>
                
                <li class="descricao-accordion"></li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header class="titulo-accordion__segundo">
                <div class="titulo">
                    <img src="/assets/imagens-banco/Gemini_Generated_Image_o10uolo10uolo10u-removebg-preview.png" class="accordion-img">
                    <h3>Foundations of User Experience (UX) Design</h3>
                </div>
                
            </mat-expansion-panel-header>
             <ul>
                <li class="descricao-accordion"><b>Instituição:</b> Coursera/Google</li>
                <li class="descricao-accordion"><b>Duração:</b> 40 horas</li>
                <li class="descricao-accordion"><b>Status:</b> Concluído (02/01/2026)</li>
                <li class="descricao-accordion"><b>Descrição:</b> Fundamentos de Experiência focada no usuário, Design Thinking,
                Design com foco na equidade, ciclo de vida do produto, Design Sprint</li>
                <li><a href="https://drive.google.com/file/d/1oxtJo6WvKLyRzhdTKpU79X-15pWSVf62/view?usp=drive_link" target="_blank">Clique aqui</a> para acessar o certificado</li>
            </ul>
        </mat-expansion-panel>
       
        <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header class="titulo-accordion">
                <div class="titulo">
                    <img src="/assets/imagens-banco/salesimg.png" class="accordion-img">
                    <h3>Salesforce</h3>
                </div>
                
            </mat-expansion-panel-header>
            <ul>
                <li class="descricao-accordion"><b>Instituição:</b> Capgemini</li>
                <li class="descricao-accordion"><b>Duração:</b> > 360 horas</li>
                <li class="descricao-accordion"><b>Status:</b> Em andamento</li>
                <li class="descricao-accordion"><b>Descrição:</b></li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header class="titulo-accordion__segundo">
                <div class="titulo">
                    <img src="/assets/imagens-banco/html5icon.png" class="accordion-img">
                    <h3>HTML-5</h3>
                </div>
                
            </mat-expansion-panel-header>
            <ul>
                <li class="descricao-accordion"><b>Instituição:</b> IFRS (Moodle/EAD)</li>
                <li class="descricao-accordion"><b>Duração:</b> 40 horas</li>
                <li class="descricao-accordion"><b>Status:</b> Concluído</li>
                <li class="descricao-accordion"><b>Descrição:</b> Desenvolvimento de páginas HTML e conhecimento das tags envolvidas na 
criação de uma página web, formatação e combinação de tags</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel class="accordion">
            <mat-expansion-panel-header class="titulo-accordion">
                <div class="titulo">
                    <img src="/assets/imagens-banco/css3icon.png" class="accordion-img">
                    <h3>CSS 3</h3>
                </div>
                
            </mat-expansion-panel-header>
            <ul>
                <li class="descricao-accordion"><b>Instituição:</b> IFRS - Moodle/EAD</li>
                <li class="descricao-accordion"><b>Duração:</b> 40 horas</li>
                <li class="descricao-accordion"><b>Status:</b> Concluído</li>
                <li class="descricao-accordion"><b>Descrição:</b> Estilização de páginas web utilizando parâmetros e propriedades do CSS, 
desenvolvimento do design através boxmodel, grid, flexbox, desenvolvimento de design 
responsivo</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</section>
<section class="projetos">
    <h1>Meus Projetos</h1>
    <div class="projetos-container">
        <div class="projeto">
            <a href="https://mariamaia19.github.io/Mini-Projeto-Escola/" target="_blank"><img src="/assets/imagens-banco/Captura de tela 2026-01-30 210026.png"></a>
            <p>Acesse Aqui o Projeto</p>
        </div>
        <div class="projeto">
            <a href="#"><img src="/assets/imagens-banco/Captura de tela 2026-01-30 211127.png"></a>
            <p>Em breve no meu GitHub</p>
        </div>
        <div class="projeto">
            <a href="#"><img src="/assets/imagens-banco/Captura de tela 2026-01-31 183951.png"></a>
            <p>Meu Web-Curriculum</p>
        </div>
    </div>
</section>
