.saudacao {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.apresentacao, .foto {
    width: 40%;
    min-height: 50vh;
}

.apresentacao {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: space-around;
    gap: 1em;
}

.apresentacao h3, p {
    font-family: var(--fonte__texto__tres);
    
}

.apresentacao h3 {
    font-size: 3rem;
    color: var(--cor__texto__um);
    text-shadow: 1px 2px 5px rgb(73, 72, 72);
    margin-top: 10%;
    text-align: center;
}

.descricao {
    font-size: 1.2rem;
    text-align: justify;
    white-space: pre-line;
}

.foto {
    display: flex;
    justify-content: center;
}

.foto-apresentacao {
    width: 50%;
    height: 70%;
    border: 2px solid white;
}

.cursos {
    margin-top: 5%;
    width: 100%;
    min-height: 70vh;
}



.cursos h1, .projetos h1{
    font-family: var(--fonte__texto__um);
    font-size: 3rem;
    color: var(--cor__texto__um);
    text-shadow: 1px 2px 5px rgb(73, 72, 72);
    text-align: center;
    margin-bottom: 5%;
}

.accordion {
    width: 50%;
    margin: auto;
}


.accordion-img {
    width: 100px;
}

.titulo-accordion {
    background-color: pink;
}

.titulo-accordion__segundo {
    background-color: var(--cor__texto__um);
}

.titulo { 
    display: flex;
    align-items: center;
}

.projetos {
    min-height: 70vh;
}

.projetos-container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.projeto {
    box-shadow: 2px 2px 20px grey;
    border-radius: 10px;
    width: 30%;
    height: 300px;

    animation: subir 0.6s ease-out forwards;
}

@keyframes subir {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.projeto img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 80%;
    cursor: pointer;
}
.projeto p {
    font-family: var(--fonte__texto__um);
    background-color: aliceblue;
    font-size: 2rem;
    height: 20%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

/*mediaquery*/

@media (max-width: 768px) {

    .saudacao {
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-flow: column-reverse nowrap;
        justify-content: center;
        align-items: center;
    }

    .apresentacao {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: space-around;
        gap: 1em;
        margin-bottom: 10%;
    }

    .foto {
        display: block;
        width: 80%;
    }

    .foto-apresentacao {
        width: 100%;
        height: 70%;
    }

    .cursos {
        margin-top: 5%;
        width: 100%;
        min-height: 50vh;
    }

    .accordion {
        width: 90%;
        margin: auto;
    }

    .accordion h3 {
        font-size: 1rem;
    }

    .projetos-container {
        margin-top: 10%;
        width: 100%;
        min-height: 70vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 2em;
    }

    .projeto {
        width: 90%;
        height: 300px;
    }

    .projeto p {
        font-size: 1.2rem;
    
    }
}