.cabecalho {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.logotipo {
    width: 100px;
}

.menu-items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.menu-items li a {
    font-size: 25px;
    color: var(--cor__texto__um);
    font-family: var(--fonte__texto__tres);
    text-decoration: none;
}
.menu-items li a:hover {
    text-decoration: underline solid rgb(243, 133, 219);
    text-decoration-thickness: 5px;
}