<div class="footer-line"></div>
<footer class="rodape">
    <a href="https://www.linkedin.com/in/maria-auxiliadora-maia-queiroz-685b10179/" target="_blank" class="links"><img src="assets/imagens-banco/linkedin-logo-removebg-preview.png" class="logo-link"></a>
    <a href="https://github.com/mariamaia19" target="_blank" class="links"><img src="assets/imagens-banco/githublogo-removebg-preview.png" class="logo-link"></a>
    <a href="https://wa.me/5527981821964?text=Gostaria%20de%20matricular%20meu(minha)%20filho(a)" target="_blank" class="links"><img src="assets/imagens-banco/whatsapp-logo-removebg-preview.png" class="logo-link"></a>
    <a href="" class="links"><img class="logo-link"></a>
    
</footer>

