.footer-line {
    margin-top: 10%;
    width: 90%;
    border: 1px solid var(--cor__texto__um);
    margin-left: 5%;
    box-shadow: 2px 2px 40px rgb(231, 230, 230);
}

.rodape {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.logo-link {
    width: 30px;
}