body {
    background-image: url('/assets/imagens-banco/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    
    min-height: 80vh;
    width: 90vw;
    border-radius: 20px;
    box-shadow: 1px 1px 30px rgb(199, 199, 199);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);

}

.whats-button {
    position: fixed; /*após definir o position fixed, definir onde vai ficar: top ou bottom*/
    right: 5px;
    bottom: 10px;
}

.wpp-img {
    width: 5rem;
}

.nota-rodape
 {
    font-size: 1rem;
    color: var(--cor__texto__um);
}