/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Share+Tech&family=Smooch+Sans:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --fonte__texto__um: "Share Tech", sans-serif;
    --fonte__texto__dois: "Figtree", sans-serif;
    --fonte__texto__tres: "Tinos", serif;
    --cor__texto__um: aliceblue;
    --fonte__codigo: 'Intel One Mono', monospace;
}
